<div *appScreenBelowLarge class="title-bar-small">
  <span class="fa fa-bars fa-10x" (click)="menuService.toggleLeftSideMenu()"></span>
  <!-- <i class="fas fa-bars"></i> -->
  <div class="small-image-holder">
    <img class="small-image" src="assets/logo.png">
  </div>
  <span class="fa fa-ellipsis-v fa-10x"></span>
</div>
<div *appScreenLarge class="title-bar user-title-bar">
    <img src="assets/logo.png" height="61px" alt="Ciena Logo">
    <div class="menu-area">
      <!-- <ps-top-bar></ps-top-bar> -->
      <app-top-bar></app-top-bar>
      <app-menu *ngIf="!menuService.isVertical"></app-menu>
    </div>

</div>